---
---

body {
  margin: 0;
}

.bg-header {
  height: 120px; 
  margin-bottom: 50px;
}

.mycv.bg-primary {
  background-color: #325D88 !important;
}

.site {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-areas: "margin-r header header margin-l"
                    "margin-r col-1 col-1 margin-l"
                    "margin-r col-2 col-3 margin-l"
                    "margin-r footer footer margin-l";
  background-color: #222;
}

.print-header {
  display: none;
}

.picture {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 5px solid white;
  position: absolute;
  top: 60px;
  left: calc(50% - 50px);
  background-image: url("/assets/images/photo-2.JPG");
  background-size: 100px;
  background-position: -5px 0;
}

@media print {
  .mycv.bg-primary {
    background-color: transparent !important; 
  }

  
  .picture {
    left: 2cm;
    top: 2cm;
    border-radius: 0;
    width: 4cm;
    height: 4cm;
    background-size: 4cm;
  }

  .screen-header {
    display: none;
  }

  .print-header {
    display: block;
    padding: 2cm 0 0 6.5cm;
  }

  .bg-header {
    display: none;
  }

  .site {
    display: grid;
    grid-template-columns: 0 3fr 3fr 0;
  }

  .content-col-1 {
    margin: 0 2cm 0 2cm;
  }
  
  .content-col-2 {
    margin: 2cm 2cm 0 2cm;
  }
  
  .content-col-3 {
    margin: 2cm 2cm 0 2cm;
  }
}

@media screen and (max-width: 1024px) {
  .site {
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
        grid-template-areas: "header"
                             "col-1"
                             "col-2"
                             "col-3"
                             "footer";
    background-color: transparent;
  }
}

.header {
  grid-area: header;
  position: relative;
  background-color: white;
}

.content-col-1 {
  grid-area: col-1;
  padding: 0 1rem 0 1rem;
  background-color: white;
}

.content-col-2 {
  grid-area: col-2;
  padding: 0 1rem 0 1rem;
  background-color: white;
}

.content-col-3 {
  grid-area: col-3;
  padding: 0 1rem 0 1rem;
  background-color: white;
}

.footer {
  grid-area: footer;
  background-color: white;
  padding-bottom: 2rem;
}

.bg-code {
  background-image: url("/assets/images/code.jpg");
  background-size: 50%;
}

.icon-container {
  width: 35px;
  height: 35px;
  border-radius: 35px;
}
