---
---

@import "";

body {
  margin: 0;
}

.site {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 9cm 9cm 1fr;
  grid-template-columns: 1fr 9cm 9cm 1fr;
      grid-template-areas: "margin-r header header margin-l"
                       "margin-r col-1 col-2 margin-l"
                       "margin-r footer footer margin-l";
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: header;
}

.content-col-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: col-1;
}

.content-col-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: col-2;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: footer;
}
