---
---

@import "scss/bootstrap";

body {
  margin: 0;
}

.site {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 3fr 1fr;
  grid-template-columns: 1fr 3fr 3fr 1fr;
      grid-template-areas: "margin-r header header margin-l"
                       "margin-r col-1 col-2 margin-l"
                       "margin-r footer footer margin-l";
}

@media screen and (max-width: 1024px) {
  .site {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
        grid-template-areas: "header"
                             "col-1"
                             "col-2"
                             "footer";
  }
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: header;
  position: relative;
}

.content-col-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: col-1;
}

.content-col-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: col-2;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: footer;
}

.picture {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 5px solid white;
  position: absolute;
  top: 60px;
  left: calc(50% - 50px);
  background-image: url("/assets/images/photo-2.JPG");
  background-size: 100px;
  background-position: -5px 0;
}
