<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <div class="site">
      <div class="header">
        <p class="text-primary">.text-primary</p>
        <p class="text-secondary">.text-secondary</p>
        <p class="text-success">.text-success</p>
        <p class="text-danger">.text-danger</p>
        <p class="text-warning">.text-warning</p>
        <p class="text-info">.text-info</p>
        <p class="text-light bg-dark">.text-light</p>
        <p class="text-dark">.text-dark</p>
        <p class="text-body">.text-body</p>
        <p class="text-muted">.text-muted</p>
        <p class="text-white bg-dark">.text-white</p>
        <p class="text-black-50">.text-black-50</p>
        <p class="text-white-50 bg-dark">.text-white-50</p>
      </div>
      <div class="content-col-1">
        <em class="fa fa-layer-group"></em>
      </div>
      <div class="content-col-2">
        <em class="fa fa-user"></em>
        <em class="fa fa-graduation-cap"></em>
        <em class="fa fa-seeding"></em>
      </div>
      <div class="footer">
          <em class="fa fa-bullseye"></em>
      </div>
    </div>
  </body>
</html>
