<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="/assets/css/all.min.css">
  </head>
  <body>
    <div class="site">
      <div class="header">
        <div class="bg-primary w-100" style="height: 120px;"></div>
        <div class="picture"></div>
      </div>
      <div class="content-col-1">
        <em class="fa fa-layer-group"></em>
      </div>
      <div class="content-col-2">
        <em class="fa fa-user"></em>
        <em class="fa fa-graduation-cap"></em>
        <em class="fa fa-seeding"></em>
      </div>
      <div class="footer">
          <em class="fa fa-bullseye"></em>
      </div>
    </div>
  </body>
</html>
